/* Layout */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #202126;
  color: #42d193;
}

header {
  background-color: #282931;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.search {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid 2px blue; */
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid red; */
}

.search-field {
  width: 100%;
  height: 60px;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
  margin-top: 5px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  /* border: 2px solid red; */
}

.more a {
  text-decoration: none;
}

.more a:visited {
  text-decoration: none;
  color: inherit;
}

#offers {
  display: flex;
  justify-content: center;
}

.deals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-section {
  background-color: #282931;
  margin: 10px;
  width: 20%;
  border-radius: 20px;
}

.game-section:hover {
  cursor: pointer;
}

.store-logo {
  width: 50px;
}

.game-thumb {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
}

.game-detail {
  display: flex;
  justify-content: center;
  text-align: center;
}

.game-title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  /* height: 1.2em; */
  white-space: nowrap;
  margin: 7px;
}

.btn-wishlist {
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.btn-add-img {
  width: 30px;
}

.btn-wishlist:hover .btn-add-img:hover {
  cursor: pointer;
  width: 32px;
}

.game-stores {
  display: flex;
  justify-content: space-evenly;
}

.game-stores img {
  width: 15%;
  margin-bottom: 12px;
}

.game-values {
  display: flex;
  justify-content: center;
}

.game-values span {
  margin: 10px;
}

.percentage-savings {
  display: flex;
  align-items: center;
  background-color: tomato;
  border-radius: 5px;
  padding: 3px;
}

/* Typography */

.percentage-savings {
  color: white;
  font-weight: 900;
}

@media (max-width: 1060px) {
  /* Layout */

  .search-field {
    width: 80%;
  }

  .game-section {
    width: 40%;
  }

  /* Typography */
}
